* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    height: 1000px;

    .container {
        .header {
            width: 1200px;
            margin: 0 auto;

            .header-top {
                text-align: end;

                ul {
                    display: inline-flex;

                    li {
                        list-style: none;
                        margin-left: 30px;

                        a {
                            color: #999;
                            font-size: 12px;
                            text-decoration: none;

                            &:hover {
                                color: #1b1b1b;
                            }
                        }
                    }
                }
            }

            .headerMain {
                display: flex;
                justify-content: space-between;
                height: 66px;
                align-items: center;

                .logo {
                    width: 146px;

                    a {
                        display: block;

                        img {
                            width: 100%;
                            display: block;


                        }
                    }
                }

                .search {
                    position: relative;
                    height: 42px;


                    #homeSearch {
                        background-color: #f3f3f3;
                        padding: 10px 40px 10px 15px;
                        border: none;
                        border: 2px solid rgba(0, 0, 0, 0);
                        border-radius: 6px;
                        transition: .3s;
                        width: 598px;
                        height: 100%;

                        &:focus {
                            outline: none;
                            border: 2px solid #f27a1a;
                            background-color: #fff;
                            border-radius: 6px 6px 0 0;
                            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
                        }

                        &:focus+.search-calls {
                            visibility: visible;
                            background-color: #fff;
                            transition-delay: 0s;
                        }
                    }

                    .search-calls {
                        position: absolute;
                        visibility: hidden;
                        width: 100%;
                        border: 2px solid #f27a1a;
                        border-radius: 0 0 6px 6px;
                        top: calc(100% - 2px);
                        transition-delay: 0.3s;
                        padding: 1.5rem;
                        padding-bottom: .5rem;

                        .search-calls-item {
                            h6 {
                                font-size: 15px;
                                color: #1b1b1b;
                                font-weight: 600;

                            }

                            ul {
                                display: flex;
                                flex-wrap: wrap;
                                gap: 10px;
                                list-style: none;
                                padding: 1rem 0;

                                li {
                                    a {
                                        display: block;
                                        text-decoration: none;
                                        color: #000;
                                        font-size: 14px;
                                        padding: 4px 10px;
                                        border: 1px solid #ccc;
                                        border-radius: 5px;

                                        &:hover {
                                            border-color: #f27a1a;
                                            color: #f27a1a;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    i {
                        position: absolute;
                        width: 18px;
                        height: 18px;
                        font-size: 100%;
                        top: 50%;
                        right: 15px;
                        transform: translate(0, -50%);
                        color: #f27a1a;
                        cursor: pointer;
                    }
                }

                .login {
                    display: flex;
                    justify-content: space-between;
                    a {
                        margin-left: 24px;
                        text-decoration: none;
                        color: #000;

                        &:hover {

                            .login-item {
                                .login-item-icon {
                                    .appear {
                                        opacity: 1;
                                        color: #f27a1a;
                                    }
                                }
                            }
                        }

                        .login-item {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            .login-item-icon {

                                position: relative;
                                width: 18px;

                                i {
                                    font-size: 18px;
                                    width: 18px;
                                    height: 18px;
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                }

                                .appear {
                                    opacity: 0;
                                    color: #fff;
                                    transition: 0.3s;
                                }
                            }

                            p {
                                padding-left: 5px;
                                margin-top: 2px;
                                font-size: 13px;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }

        }

        .navigation {
            border-bottom: 1px solid #e8e8e8;

            #navigation {
                width: 1200px;
                height: 34px;
                margin: 0 auto;

                .nav-main {
                    display: flex;
                    list-style: none;
                    height: 100%;

                    li {
                        flex-grow: 1;
                        height: 100%;



                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 100%;
                            width: 100%;
                            text-decoration: none;
                            color: #000;
                            font-size: 14px;
                            font-weight: 600;

                            &.active {
                                color: #f27a1a;
                                box-shadow: inset 0 -2px 0 0 #f27a1a;
                            }

                            &:hover {
                                color: #f27a1a;
                                box-shadow: inset 0 -2px 0 0 #f27a1a;
                            }


                        }

                    }
                }
            }
        }

        .component-list {
            width: 1200px;
            margin: 0 auto;
            padding-bottom: 15px;

            .component-item {
                margin-bottom: 25px;

                .slider-hidden {
                    overflow: hidden;
                    height: 140px;
                    margin-top: 15px;


                    .circled-slider {
                        display: flex;
                        overflow: auto;
                        margin-top: 20px;
                        margin-left: -10px;


                        a {
                            display: flex;
                            flex-direction: column;
                            text-decoration: none;
                            min-width: 115px;
                            max-width: 115px;
                            height: 120px;
                            align-items: center;

                            &:hover {
                                img {
                                    border: 1px solid #f27a1a;
                                }

                                span {
                                    color: #f27a1a;
                                }
                            }

                            img {
                                margin: 0 auto;
                                width: 68px;
                                height: 68px;
                                border: 1px solid rgb(230, 230, 230);
                                border-radius: 50%;
                                transition: 0.2s;

                            }

                            span {
                                font-size: 14px;
                                color: #333;
                                font-weight: 600;
                                transition: 0.2s;
                                width: 74px;
                                text-align: center;
                                margin-top: 10px;
                                height: 100%;
                                line-height: 14px;
                            }
                        }
                    }
                }

                .widget-container {
                    display: flex;
                    gap: 20px;
                    min-height: 77px;

                    a {
                        height: 0px;

                        img {
                            width: 100%;
                            display: block;
                        }
                    }
                }

                .widget-information {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 25px;

                    a {
                        box-shadow: 0 0 7px #d3d3d3;
                        text-decoration: none;
                        border-radius: 6px;
                        overflow: hidden;

                        &:hover {
                            img {
                                border-color: #f27a1a;
                            }

                            figcaption {
                                background-color: #f27a1a;
                                border-color: #f27a1a;

                                .hover-text {
                                    opacity: 1;
                                }
                            }
                        }

                        figure {
                            img {
                                border: 1px solid #d3d3d3;
                                border-bottom: none;
                                border-radius: 6px 6px 0 0;
                                display: block;
                                width: 100%;
                                transition: 0.3s;
                            }

                            figcaption {
                                display: flex;
                                justify-content: space-between;
                                background-color: #1b1b1b;
                                color: #fff;
                                height: 38px;
                                font-size: 14px;
                                padding: 0 17px;
                                border: 1px solid #d3d3d3;
                                border-top: none;
                                line-height: 38px;
                                transition: 0.3s;

                                .hover-text {
                                    opacity: 0;
                                    transition: 0.3;
                                }

                            }
                        }
                    }
                }

                .products {
                    .product-container {
                        padding: 12px 21px;
                        border-radius: 6px;
                        box-shadow: 0 1px 4px 0 rgb(0 0 0 / 5%);
                        border: 1px solid #f2e5da;
                        background-color: #FFFAF6;
                        max-height: 345px;
                        overflow: hidden;

                        .product-header {
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 15px;

                            span {
                                font-size: 22px;
                                color: #333;
                                font-weight: 600;
                            }

                            .widget-header-navigation {
                                a {
                                    color: #333;
                                    font-size: 14px;
                                    font-weight: 600;
                                }
                            }
                        }

                        .product-main {
                            overflow: auto;

                            .product-slider {
                                display: flex;
                                gap: 15px;
                                padding-bottom: 20px;


                                .product {
                                    border: solid 1px #e6e6e6;
                                    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 5%);
                                    border-radius: 6px;
                                    min-width: 198px;
                                    max-width: 198px;
                                    height: 270px;
                                    overflow: hidden;
                                    position: relative;
                                    background-color: #fff;

                                    a {
                                        padding: 10px;
                                        text-decoration: none;
                                        color: #333;
                                        z-index: 100;
                                        display: block;
                                        height: 100%;

                                        &:hover {
                                            .custom-stamp-box-wrapper {
                                                img {
                                                    transform: scale(1.015);
                                                }
                                            }

                                            .product-img {
                                                img {
                                                    transform: scale(1.03);
                                                }
                                            }
                                        }

                                        .product-img {
                                            text-align: center;

                                            img {
                                                max-height: 135px;
                                                margin: 5px auto;
                                                transition: 0.5s;
                                                width: 50%;
                                            }
                                        }

                                        .description {
                                            padding: 10px 0;

                                            .product-brand-description {
                                                height: 36px;
                                                font-size: 14px;
                                                overflow: hidden;
                                                display: -webkit-box;
                                                -webkit-box-orient: vertical;
                                                -webkit-line-clamp: 2;

                                                .brand {
                                                    font-weight: 600;
                                                }

                                            }

                                            .price-container {
                                                font-family: Arial, Helvetica, sans-serif;
                                                font-size: 16px;
                                                color: #f27a1a;
                                                font-weight: 600;
                                                margin-top: 12px;
                                            }
                                        }



                                        .promotion-badge {
                                            position: absolute;
                                            left: 10px;
                                            bottom: 10px;
                                            text-align: center;
                                            max-width: 128px;
                                            height: 14px;
                                            line-height: 14px;

                                            p {
                                                background-color: #f27a1a;
                                                padding: 1px 5px;
                                                border-radius: 3px;
                                                font-size: 11px;
                                                color: #fff;
                                            }
                                        }

                                        .product-favorite-btn {
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            position: absolute;
                                            top: 10px;
                                            right: 10px;
                                            width: 33px;
                                            height: 33px;
                                            box-shadow: 0 1px 3px 0 rgb(0 0 0 / 11%);
                                            border: solid 1px #f0f0f0;
                                            background-color: #fff;
                                            border-radius: 50%;
                                            cursor: pointer;
                                            z-index: 99;

                                            i {
                                                margin-top: 4px;
                                            }

                                            &:hover {
                                                color: #f27a1a;
                                            }
                                        }

                                        .box-wrapper {
                                            position: absolute;
                                            top: 0;
                                            left: 0;

                                            .stamp-box-wrapper {
                                                background-color: #535353;
                                                margin-left: 5px;
                                                margin-top: 5px;
                                                border-radius: 3px;
                                                font-size: 10px;
                                                width: 56px;
                                                height: 25px;
                                                color: #fff;
                                                text-align: center;
                                                font-weight: 600;
                                                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                                                padding-top: 1px;
                                            }

                                            .custom-stamp-box-wrapper {

                                                margin-left: 10px;
                                                margin-top: 10px;

                                                img {
                                                    width: 26%;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                        }
                    }
                }
            }

        }

        footer {
            .content-wrapper {
                border-top: 1px solid #d4d4d4;
                padding-top: 30px;
                width: 1200px;
                margin: 50px auto 0 auto;

                .content-title {
                    h2 {
                        line-height: 25px;
                        font-size: 23px;
                        color: #333;
                        margin-bottom: 10px;
                        font-weight: 600;
                    }
                }

                .content-main {
                    section {
                        h3 {
                            font-weight: bold;
                            font-size: 18px;
                            margin-top: 5px;
                            color: #333;
                            font-weight: 600;
                        }

                        p {
                            font-size: 13px;
                            text-align: justify;
                            line-height: 25px;

                            strong {
                                font-weight: normal;
                            }
                        }
                    }
                }
            }

            .footer-brands {
                border-top: 1px solid #d4d4d4;
                margin: 20px;
                .internal-linking {
                    width: 1080px;
                    margin: 30px auto;
                    display: flex;
                    justify-content: space-between;

                    .popularBrands,
                    .popularBrands-categories {
                        width: 45%;

                        .popularBrands-title,
                        .popularBrands-categories-title {
                            p {
                                font-size: 22px;
                                margin: 10px 0 20px;
                                color: #333;
                            }
                        }

                        ul {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            list-style: none;

                            li {
                                flex: 0 26%;
                                margin: 3px 0 5px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;

                                a {
                                    color: #1b1b1b;
                                    text-decoration: none;
                                    font-size: 13px;

                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .footer-container {
                background-color: #000;
                padding-top: 50px;
                padding-bottom: 55px;

                .footer-container-main {
                    display: flex;
                    justify-content: space-between;
                    width: 1080px;
                    margin: 0 auto;

                    .footer-container-item {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        div {
                            a {
                                text-decoration: none;
                                color: #fff;

                                &:hover {
                                    text-decoration: underline;
                                }

                                h4 {
                                    font-size: 22px;
                                    padding-bottom: 5px;
                                    margin-bottom: 20px;
                                    font-weight: 400;
                                }
                            }

                            ul {
                                list-style: none;

                                li {
                                    margin-top: 20px;

                                    a {
                                        color: #fff;
                                        font-size: 13px;
                                    }

                                    p {
                                        font-size: 16px;
                                        font-weight: 600;
                                        color: #fff;
                                    }

                                    div {
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;

                                        img {
                                            height: 35px;
                                            margin-right: 20px;
                                        }

                                        a {

                                            i {
                                                font-size: 25px;

                                                &:hover {
                                                    color: #34589D;
                                                }
                                            }
                                        }

                                    }

                                    div.app {
                                        flex-direction: column;

                                        a {
                                            width: 100%;
                                            margin-top: 10px;

                                            img {
                                                display: block;
                                                width: 155px;
                                                height: 40px;
                                            }
                                        }
                                    }

                                    .data-matrix {
                                        align-items: flex-start;
                                        justify-content: center;
                                        align-items: center;
                                        gap: 30px;

                                        div {
                                            display: block;

                                            a {
                                                img {
                                                    display: block;
                                                    margin: 0;
                                                }

                                            }
                                        }

                                        div:nth-child(1) {
                                            img {
                                                height: 100px;
                                            }

                                        }

                                        div:nth-child(2) {
                                            img {
                                                height: 50px;
                                            }
                                        }
                                    }

                                    button {
                                        border: solid 1px #fff;
                                        text-align: center;
                                        font-size: 14px;
                                        width: 95px;
                                        color: #fff;
                                        background-color: #000;
                                        border-radius: 6px;
                                        font-weight: 600;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .bandInfo {
                background-color: #2D2D2D;

                .bandInfo-wrapper {
                    display: flex;
                    justify-content: space-between;
                    width: 1080px;
                    margin: 0 auto;
                    padding: 10px 0;

                    div {
                        color: #fff;
                        font-size: 12px;

                        ul {
                            list-style: none;
                            display: flex;
                            flex-direction: row-reverse;

                            li {
                                padding: 0 10px;

                                a {
                                    color: #fff;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}