* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  height: 1000px;
}
body .container .header {
  width: 1200px;
  margin: 0 auto;
}
body .container .header .header-top {
  text-align: end;
}
body .container .header .header-top ul {
  display: inline-flex;
}
body .container .header .header-top ul li {
  list-style: none;
  margin-left: 30px;
}
body .container .header .header-top ul li a {
  color: #999;
  font-size: 12px;
  text-decoration: none;
}
body .container .header .header-top ul li a:hover {
  color: #1b1b1b;
}
body .container .header .headerMain {
  display: flex;
  justify-content: space-between;
  height: 66px;
  align-items: center;
}
body .container .header .headerMain .logo {
  width: 146px;
}
body .container .header .headerMain .logo a {
  display: block;
}
body .container .header .headerMain .logo a img {
  width: 100%;
  display: block;
}
body .container .header .headerMain .search {
  position: relative;
  height: 42px;
}
body .container .header .headerMain .search #homeSearch {
  background-color: #f3f3f3;
  padding: 10px 40px 10px 15px;
  border: none;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 6px;
  transition: 0.3s;
  width: 598px;
  height: 100%;
}
body .container .header .headerMain .search #homeSearch:focus {
  outline: none;
  border: 2px solid #f27a1a;
  background-color: #fff;
  border-radius: 6px 6px 0 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
body .container .header .headerMain .search #homeSearch:focus + .search-calls {
  visibility: visible;
  background-color: #fff;
  transition-delay: 0s;
}
body .container .header .headerMain .search .search-calls {
  position: absolute;
  visibility: hidden;
  width: 100%;
  border: 2px solid #f27a1a;
  border-radius: 0 0 6px 6px;
  top: calc(100% - 2px);
  transition-delay: 0.3s;
  padding: 1.5rem;
  padding-bottom: 0.5rem;
}
body .container .header .headerMain .search .search-calls .search-calls-item h6 {
  font-size: 15px;
  color: #1b1b1b;
  font-weight: 600;
}
body .container .header .headerMain .search .search-calls .search-calls-item ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  padding: 1rem 0;
}
body .container .header .headerMain .search .search-calls .search-calls-item ul li a {
  display: block;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
body .container .header .headerMain .search .search-calls .search-calls-item ul li a:hover {
  border-color: #f27a1a;
  color: #f27a1a;
}
body .container .header .headerMain .search i {
  position: absolute;
  width: 18px;
  height: 18px;
  font-size: 100%;
  top: 50%;
  right: 15px;
  transform: translate(0, -50%);
  color: #f27a1a;
  cursor: pointer;
}
body .container .header .headerMain .login {
  display: flex;
  justify-content: space-between;
  width: 300px;
}
body .container .header .headerMain .login a {
  text-decoration: none;
  color: #000;
}
body .container .header .headerMain .login a:hover .login-item .login-item-icon .appear {
  opacity: 1;
  color: #f27a1a;
}
body .container .header .headerMain .login a .login-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container .header .headerMain .login a .login-item .login-item-icon {
  position: relative;
  width: 18px;
}
body .container .header .headerMain .login a .login-item .login-item-icon i {
  font-size: 18px;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .container .header .headerMain .login a .login-item .login-item-icon .appear {
  opacity: 0;
  color: #fff;
  transition: 0.3s;
}
body .container .header .headerMain .login a .login-item p {
  padding-left: 5px;
  margin-top: 2px;
  font-size: 13px;
  font-weight: 600;
}
body .container .navigation {
  border-bottom: 1px solid #e8e8e8;
}
body .container .navigation #navigation {
  width: 1200px;
  height: 34px;
  margin: 0 auto;
}
body .container .navigation #navigation .nav-main {
  display: flex;
  list-style: none;
  height: 100%;
}
body .container .navigation #navigation .nav-main li {
  flex-grow: 1;
  height: 100%;
}
body .container .navigation #navigation .nav-main li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: 600;
}
body .container .navigation #navigation .nav-main li a.active {
  color: #f27a1a;
  box-shadow: inset 0 -2px 0 0 #f27a1a;
}
body .container .navigation #navigation .nav-main li a:hover {
  color: #f27a1a;
  box-shadow: inset 0 -2px 0 0 #f27a1a;
}
body .container .component-list {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 15px;
}
body .container .component-list .component-item {
  margin-bottom: 25px;
}
body .container .component-list .component-item .slider-hidden {
  overflow: hidden;
  height: 140px;
  margin-top: 15px;
}
body .container .component-list .component-item .slider-hidden .circled-slider {
  display: flex;
  overflow: auto;
  margin-top: 20px;
  margin-left: -10px;
}
body .container .component-list .component-item .slider-hidden .circled-slider a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  min-width: 115px;
  max-width: 115px;
  height: 120px;
  align-items: center;
}
body .container .component-list .component-item .slider-hidden .circled-slider a:hover img {
  border: 1px solid #f27a1a;
}
body .container .component-list .component-item .slider-hidden .circled-slider a:hover span {
  color: #f27a1a;
}
body .container .component-list .component-item .slider-hidden .circled-slider a img {
  margin: 0 auto;
  width: 68px;
  height: 68px;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 50%;
  transition: 0.2s;
}
body .container .component-list .component-item .slider-hidden .circled-slider a span {
  font-size: 14px;
  color: #333;
  font-weight: 600;
  transition: 0.2s;
  width: 74px;
  text-align: center;
  margin-top: 10px;
  height: 100%;
  line-height: 14px;
}
body .container .component-list .component-item .widget-container {
  display: flex;
  gap: 20px;
  height: 77px;
}
body .container .component-list .component-item .widget-container a {
  height: 0px;
}
body .container .component-list .component-item .widget-container a img {
  width: 100%;
  display: block;
}
body .container .component-list .component-item .widget-information {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
body .container .component-list .component-item .widget-information a {
  box-shadow: 0 0 7px #d3d3d3;
  text-decoration: none;
  border-radius: 6px;
  overflow: hidden;
}
body .container .component-list .component-item .widget-information a:hover img {
  border-color: #f27a1a;
}
body .container .component-list .component-item .widget-information a:hover figcaption {
  background-color: #f27a1a;
  border-color: #f27a1a;
}
body .container .component-list .component-item .widget-information a:hover figcaption .hover-text {
  opacity: 1;
}
body .container .component-list .component-item .widget-information a figure img {
  border: 1px solid #d3d3d3;
  border-bottom: none;
  border-radius: 6px 6px 0 0;
  display: block;
  width: 100%;
  transition: 0.3s;
}
body .container .component-list .component-item .widget-information a figure figcaption {
  display: flex;
  justify-content: space-between;
  background-color: #1b1b1b;
  color: #fff;
  height: 38px;
  font-size: 14px;
  padding: 0 17px;
  border: 1px solid #d3d3d3;
  border-top: none;
  line-height: 38px;
  transition: 0.3s;
}
body .container .component-list .component-item .widget-information a figure figcaption .hover-text {
  opacity: 0;
  transition: 0.3;
}
body .container .component-list .component-item .products .product-container {
  padding: 12px 21px;
  border-radius: 6px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid #f2e5da;
  background-color: #FFFAF6;
  max-height: 345px;
  overflow: hidden;
}
body .container .component-list .component-item .products .product-container .product-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
body .container .component-list .component-item .products .product-container .product-header span {
  font-size: 22px;
  color: #333;
  font-weight: 600;
}
body .container .component-list .component-item .products .product-container .product-header .widget-header-navigation a {
  color: #333;
  font-size: 14px;
  font-weight: 600;
}
body .container .component-list .component-item .products .product-container .product-main {
  overflow: auto;
}
body .container .component-list .component-item .products .product-container .product-main .product-slider {
  display: flex;
  gap: 15px;
  padding-bottom: 20px;
}
body .container .component-list .component-item .products .product-container .product-main .product-slider .product {
  border: solid 1px #e6e6e6;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  min-width: 198px;
  max-width: 198px;
  height: 270px;
  overflow: hidden;
  position: relative;
  background-color: #fff;
}
body .container .component-list .component-item .products .product-container .product-main .product-slider .product a {
  padding: 10px;
  text-decoration: none;
  color: #333;
  z-index: 100;
  display: block;
  height: 100%;
}
body .container .component-list .component-item .products .product-container .product-main .product-slider .product a:hover .custom-stamp-box-wrapper img {
  transform: scale(1.015);
}
body .container .component-list .component-item .products .product-container .product-main .product-slider .product a:hover .product-img img {
  transform: scale(1.03);
}
body .container .component-list .component-item .products .product-container .product-main .product-slider .product a .product-img {
  text-align: center;
}
body .container .component-list .component-item .products .product-container .product-main .product-slider .product a .product-img img {
  max-height: 135px;
  margin: 5px auto;
  transition: 0.5s;
  width: 50%;
}
body .container .component-list .component-item .products .product-container .product-main .product-slider .product a .description {
  padding: 10px 0;
}
body .container .component-list .component-item .products .product-container .product-main .product-slider .product a .description .product-brand-description {
  height: 36px;
  font-size: 14px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
body .container .component-list .component-item .products .product-container .product-main .product-slider .product a .description .product-brand-description .brand {
  font-weight: 600;
}
body .container .component-list .component-item .products .product-container .product-main .product-slider .product a .description .price-container {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #f27a1a;
  font-weight: 600;
  margin-top: 12px;
}
body .container .component-list .component-item .products .product-container .product-main .product-slider .product a .promotion-badge {
  position: absolute;
  left: 10px;
  bottom: 10px;
  text-align: center;
  max-width: 128px;
  height: 14px;
  line-height: 14px;
}
body .container .component-list .component-item .products .product-container .product-main .product-slider .product a .promotion-badge p {
  background-color: #f27a1a;
  padding: 1px 5px;
  border-radius: 3px;
  font-size: 11px;
  color: #fff;
}
body .container .component-list .component-item .products .product-container .product-main .product-slider .product a .product-favorite-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 33px;
  height: 33px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.11);
  border: solid 1px #f0f0f0;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  z-index: 99;
}
body .container .component-list .component-item .products .product-container .product-main .product-slider .product a .product-favorite-btn i {
  margin-top: 4px;
}
body .container .component-list .component-item .products .product-container .product-main .product-slider .product a .product-favorite-btn:hover {
  color: #f27a1a;
}
body .container .component-list .component-item .products .product-container .product-main .product-slider .product a .box-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}
body .container .component-list .component-item .products .product-container .product-main .product-slider .product a .box-wrapper .stamp-box-wrapper {
  background-color: #535353;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 3px;
  font-size: 10px;
  width: 56px;
  height: 25px;
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  padding-top: 1px;
}
body .container .component-list .component-item .products .product-container .product-main .product-slider .product a .box-wrapper .custom-stamp-box-wrapper {
  margin-left: 10px;
  margin-top: 10px;
}
body .container .component-list .component-item .products .product-container .product-main .product-slider .product a .box-wrapper .custom-stamp-box-wrapper img {
  width: 26%;
}
body .container footer {
  border-bottom: 1px solid #d4d4d4;
}
body .container footer .content-wrapper {
  border-top: 1px solid #d4d4d4;
  padding-top: 30px;
  width: 1200px;
  margin: 50px auto 0 auto;
}
body .container footer .content-wrapper .content-title h2 {
  height: 25px;
  line-height: 25px;
  font-size: 23px;
  color: #333;
  margin-bottom: 10px;
  font-weight: 600;
}
body .container footer .content-wrapper .content-main section h3 {
  font-weight: bold;
  font-size: 18px;
  margin-top: 5px;
  color: #333;
  font-weight: 600;
}
body .container footer .content-wrapper .content-main section p {
  font-size: 13px;
  text-align: justify;
  line-height: 25px;
}
body .container footer .content-wrapper .content-main section p strong {
  font-weight: normal;
}/*# sourceMappingURL=main.css.map */