* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  height: 1000px;
}
body .container .header {
  width: 1200px;
  margin: 0 auto;
}
body .container .header .header-top {
  text-align: end;
}
body .container .header .header-top ul {
  display: inline-flex;
}
body .container .header .header-top ul li {
  list-style: none;
  margin-left: 30px;
}
body .container .header .header-top ul li a {
  color: #999;
  font-size: 12px;
  text-decoration: none;
}
body .container .header .header-top ul li a:hover {
  color: #1b1b1b;
}
body .container .header .headerMain {
  display: flex;
  justify-content: space-between;
  height: 66px;
  align-items: center;
}
body .container .header .headerMain .logo {
  width: 146px;
}
body .container .header .headerMain .logo a {
  display: block;
}
body .container .header .headerMain .logo a img {
  width: 100%;
  display: block;
}
body .container .header .headerMain .search {
  position: relative;
  height: 42px;
}
body .container .header .headerMain .search #homeSearch {
  background-color: #f3f3f3;
  padding: 10px 40px 10px 15px;
  border: none;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 6px;
  transition: 0.3s;
  width: 598px;
  height: 100%;
}
body .container .header .headerMain .search #homeSearch:focus {
  outline: none;
  border: 2px solid #f27a1a;
  background-color: #fff;
  border-radius: 6px 6px 0 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
body .container .header .headerMain .search #homeSearch:focus + .search-calls {
  visibility: visible;
  background-color: #fff;
  transition-delay: 0s;
}
body .container .header .headerMain .search .search-calls {
  position: absolute;
  visibility: hidden;
  width: 100%;
  border: 2px solid #f27a1a;
  border-radius: 0 0 6px 6px;
  top: calc(100% - 2px);
  transition-delay: 0.3s;
  padding: 1.5rem;
  padding-bottom: 0.5rem;
}
body .container .header .headerMain .search .search-calls .search-calls-item h6 {
  font-size: 15px;
  color: #1b1b1b;
  font-weight: 600;
}
body .container .header .headerMain .search .search-calls .search-calls-item ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  padding: 1rem 0;
}
body .container .header .headerMain .search .search-calls .search-calls-item ul li a {
  display: block;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
body .container .header .headerMain .search .search-calls .search-calls-item ul li a:hover {
  border-color: #f27a1a;
  color: #f27a1a;
}
body .container .header .headerMain .search i {
  position: absolute;
  width: 18px;
  height: 18px;
  font-size: 100%;
  top: 50%;
  right: 15px;
  transform: translate(0, -50%);
  color: #f27a1a;
  cursor: pointer;
}
body .container .header .headerMain .login {
  display: flex;
  justify-content: space-between;
  width: 300px;
}
body .container .header .headerMain .login a {
  text-decoration: none;
  color: #000;
}
body .container .header .headerMain .login a:hover .login-item .login-item-icon .appear {
  opacity: 1;
  color: #f27a1a;
}
body .container .header .headerMain .login a .login-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container .header .headerMain .login a .login-item .login-item-icon {
  position: relative;
  width: 18px;
}
body .container .header .headerMain .login a .login-item .login-item-icon i {
  font-size: 18px;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .container .header .headerMain .login a .login-item .login-item-icon .appear {
  opacity: 0;
  color: #fff;
  transition: 0.3s;
}
body .container .header .headerMain .login a .login-item p {
  padding-left: 5px;
  margin-top: 2px;
  font-size: 13px;
  font-weight: 600;
}
body .container .navigation {
  border-bottom: 1px solid #e8e8e8;
}
body .container .navigation #navigation {
  width: 1200px;
  height: 34px;
  margin: 0 auto;
}
body .container .navigation #navigation .nav-main {
  display: flex;
  list-style: none;
  height: 100%;
}
body .container .navigation #navigation .nav-main li {
  flex-grow: 1;
  height: 100%;
}
body .container .navigation #navigation .nav-main li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}
body .container .navigation #navigation .nav-main li a.active {
  color: #f27a1a;
  border-bottom: 2px solid #f27a1a;
}
body .container .navigation #navigation .nav-main li a:hover {
  color: #f27a1a;
  border-bottom: 2px solid #f27a1a;
}
body .container .component-list {
  height: 120px;
  width: 1200px;
  margin: 0 auto;
  margin-top: 35px;
}
body .container .component-list .component-item {
  height: 100%;
  margin-top: 25px;
  overflow: hidden;
}
body .container .component-list .component-item .circled-slider {
  display: flex;
  margin-left: -10px;
  margin-bottom: 25px;
  overflow: auto;
}
body .container .component-list .component-item .circled-slider a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  min-width: 115px;
  height: 120px;
  align-items: center;
}
body .container .component-list .component-item .circled-slider a:hover img {
  border: 1px solid #f27a1a;
}
body .container .component-list .component-item .circled-slider a:hover span {
  color: #f27a1a;
}
body .container .component-list .component-item .circled-slider a img {
  margin: 0 auto;
  width: 68px;
  height: 68px;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 50%;
  transition: 0.2s;
}
body .container .component-list .component-item .circled-slider a span {
  font-size: 14px;
  color: #333;
  font-weight: 600;
  transition: 0.2s;
  width: 74px;
  text-align: center;
  margin-top: 10px;
  height: 100%;
  line-height: 14px;
}
body .container .component-list .component-item .widget-container {
  display: flex;
  gap: 20px;
}
body .container .component-list .component-item .widget-container a img {
  width: 100%;
  display: block;
}/*# sourceMappingURL=main.css.map */